* {
    margin: auto
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: rgb(255, 255, 255);
    
    color: white;
    padding:  0;
    display: flex;
    
    width: cover;
    height: 120px;
    text-align: center;
}
nav .menu ul li {
    float: left;
    line-height: 50px;
    padding: 0 10px;
}

nav .menu ul {
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.menu, .search, .center {
    float: left;
    line-height: 50px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}


.logo {
    width: 100px;
}
nav{
    height: 30px;
    color:rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    margin: 0 auto;
}

nav ul li {
    margin-right: 20px;
    text-decoration: none;
    padding: 16px;
}
nav ul li a{
    text-decoration: none;
    font-size: 23px;
    height: auto;
    margin: auto;
    color: #f0f0f0;
}
.search{
    height: 40px;
    width: 550px;
    border-radius: 5px;
    background-color: aliceblue;
    background-size: cover;
}
.search input{
    width: 500px;
    height: auto;
}
.search button{
    height: 35px;
    width: 35px;
}
.search button img{
    width: 30px;
    height: auto;
}
.content {
    text-align: center;
    margin-top: 0px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 300px;
    width: 1300px;
    align-items: center;
}
.gioithieu{
    background-color: rgb(255, 255, 255);
    margin-top: -50px;rgb(255, 255, 255)rgb(31, 255, 251);
    height: 4050px;
    width: 1250px;
    color: black;
}
.image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul li {
    border-radius: 4px soild black;
    text-align: center;
    transition: background-color 0.4s;
    background-size: cover;
    content: none;
    border: 0;
    text-decoration: none;
    list-style-type: none;
}
#menu1{
    display: flex;
    text-align: center;
}
#menu1:hover {
    background-color: black;
    transform: scale(1.1);

}
#dangky{
    background-color: rgb(4, 79, 255);
    color: rgb(16, 2, 2);
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 22px;
}
#dangnhap{
    background-color: rgb(0, 255, 8);
    color: white;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 22px;
}
.center{
    padding: 10px 15px;
}
#dangky:hover{
    background-color: rgb(2, 196, 226);
    transform: scale(1.12);
    border: 1px solid rgb(40, 40, 244);
}
#dangnhap:hover{
    background-color: rgb(10, 149, 5);
    transform: scale(1.12);
    border: 1px solid rgb(42, 108, 4);
}
#zzz{
    background-color: rgb(0, 0, 0);
    height: 1000px;
    width: cover;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
   
    color: white;
}
#zzz1{
    margin-top: -930px;
    height: 888px;
    width: 1400px;
    background-color: rgb(255, 255, 255);
    font-size:30px;
    letter-spacing: 2px;
    
    color: crimson;
    line-height: 2em; 
    

}


#textsp{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    background-color: rgb(230, 36, 22);
    color: white;
    height: 100px;
    width: 1800px;
}
#cs:hover{
    background-color: #f7f7f7;
}
#silde{
    margin-top: 35px;
}
.nav-link:hover{
    transform: scale(1.1);
}
#mynavbar{
    background-color: #549797;
    opacity: 0.9;
    width: 1500px;
}
.nav-item:hover{
    background-color: #ffffff;
    opacity: 1;
    color:aqua;
}
#login{
    border: 1px solid aqua;
    font-size: 70%;
    width: 120px;
    height: 45px;
    background: transparent;
    color: aqua;
    margin-bottom: -25px;
}
#submit{
    border: 1px solid green;
    font-size: 70%;
    width: 120px;
    height: 45px;
    background: transparent;
    color:#00ff4c
}
#login:hover{
    border: 1px solid aqua;
    background-color: #2762f6;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}
#submit:hover{
    border: 1px solid green;
    background-color: rgb(16, 183, 16);
    color:#ffffff;
    opacity: 0.8;
}
.dropdown{
    background-color: #549797;
    opacity: 0.8;
}